<div class="header">
    <div class="links">
        <img class="logo" src="../../../assets/logo.png" alt="Logo">

        <div class="links__item">Приход</div>
        <div class="links__item">Расход</div>
        <div class="links__item">Итог</div>
        <div class="links__item">Статистика</div>
    </div>

    <div class="login">
        <i class="fas fa-user login__img"></i>
    </div>
</div>